
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="/Content/Admin/img/favicon.png">

    <title>Products </title>

    <!-- Bootstrap core CSS -->
    <link href="/Content/Admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/Admin/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="/Content/Admin/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="/Content/Admin/css/style.css" rel="stylesheet">
    <link href="/Content/Admin/css/style-responsive.css" rel="stylesheet" />
</head>

@model IEnumerable<E_CommerceWebSite.Models.Products>

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="js/jquery.dcjqaccordion.2.7.js"></script>
<script src="js/jquery.scrollTo.min.js"></script>
<script src="js/jquery.nicescroll.js" type="text/javascript"></script>
<script src="js/respond.min.js"></script>

<!--common script for all pages-->
<script src="js/common-scripts.js"></script>
<!-- page start-->
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
              Products
                <br />
                <a href="/Admin/AddNewProduct" type="button" class="btn btn-round btn-success pull-left">New Product</a>
            </header>
            <table class="table">
                <thead>
                    <tr>
                        <th> Product Name</th>
                        <th class="hidden-phone">Description</th>
                        <th>Price</th>
                        <th>Category</th>
                        <th>Amount Of Stock </th>
                        <th>Unit </th>
                        <th>Brand </th>
                        <th>Expiration Date </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model)
                    {
                    <tr>
                        <td>@product.ProductName</td>
                        <td>@product.Description</td>
                        <td>@((float?)product.Price)</td>
                        <td>@product.Category.Name</td>
                        <td>@product.AmountOfStock</td>
                        <td>@product.TypeOfUnit</td>

                        @if (product.BrandID != null)
                        {
                            <td>@product.BrandID</td>
                        }
                        else if (product.BrandID == null)
                        {
                            <td></td>
                        }
                        <td>@product.ExpirationDate</td>
                        <td><a class="btn btn-success btn-xs" href="/Admin/AddProductImage/@product.Id"><i class="icon-plus"></i>Add Image</a></td>
                        <td><a class="btn btn-success btn-xs" href="/Admin/SetDefaultImage?productId=@product.Id"><i class="icon-plus"></i>Set default Image</a></td>
                        <td><a class="btn btn-primary btn-xs" href="/Admin/UpdateProduct?productId=@product.Id"><i class="icon-pencil"></i></a></td>
                        <td><a class="btn btn-danger btn-xs" href="/Admin/ProductDelete?productId=@product.Id"><i class="icon-trash "></i></a></td>
                    </tr>

                    }
                </tbody>
            </table>
        </section>
    </div>
</div>



