
@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/Home_Layout.cshtml";
}
@model E_CommerceWebSite.Models.Products
<div class="col-md-12">


    <section class="panel">
        <div class="panel-body">
            <div class="col-md-6">
                <div class="pro-img-details">
                    @foreach (var firstimage in ViewBag.FirstImage)
                    {
                        <img src="@firstimage.Medium" alt="" />
                    }

                </div>
                <div class="pro-img-list">
                    @foreach (var ımage in ViewBag.ımage)
                    {
                        <a href="">
                            <img src="@ımage.Small" alt="">
                        </a>
                    }
                </div>
            </div>
            <div class="col-md-6">
                <h4 class="pro-d-title">
                    <a href="/Content/Admin/#" class="">
                        @Model.ProductName
                    </a>
                </h4>
                <p>
                    @Model.Description
                </p>
                <div class="product_meta">
                    <span class="posted_in"> <strong>Categories:</strong> <a rel="tag" href="/Content/Admin/#">Smartphone</a>, <a rel="tag" href="/Content/Admin/#">Phone</a>, <a rel="tag" href="/Content/Admin/#">Android</a>, <a rel="tag" href="/Content/Admin/#">Samsung</a>.</span>
                    <span class="tagged_as"><strong>Tags:</strong> <a rel="tag" href="/Content/Admin/#">Smartphones</a>, <a rel="tag" href="~/Content/Home/Index">electronicDevices</a>.</span>
                </div>
                <div class="m-bot15"> <strong>Price : </strong> <span class="amount-old">$544</span>  <span class="pro-price"> $@((float?)Model.Price)</span></div>
                <div class="form-group">
                    <label>Quantity</label>
                    <input type="quantity" placeholder="1" class="form-control quantity">
                </div>
                <p>


                    <a class="btn btn-round btn-danger addToCart" id="AddToCart" type="button" data-id="@Model.Id" onclick="myfunc()" href=""><i class="icon-shopping-cart"></i> Add to Cart</a>
                </p>
            </div>
        </div>
    </section>

    <section class="panel">
        <header class="panel-heading tab-bg-dark-navy-blue">
            <ul class="nav nav-tabs ">
                <li class="active">
                    <a data-toggle="tab" href="/Content/Admin/#description">
                        Description
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="/Content/Admin/#reviews">
                        Reviews
                    </a>
                </li>

            </ul>
        </header>
        <div class="panel-body">
            <div class="tab-content tasi-tab">
                <div id="description" class="tab-pane active">
                    <h4 class="pro-d-head">Product Description</h4>
                    <p>@Model.Description</p>
                    <div class="adv-table">
                        <table class="display table table-bordered table-striped" id="example">
                            <thead>
                                <tr>
                               
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var Property in ViewBag.ProductPropertyValues)
                                {
                                    <tr class="gradeX">
                                        <th>@Property.PropertyType.Name</th>
                                   
                                        <th>@Property.PropertyValue.Name</th>
                                  
                                    </tr>


                                }

</table>
                    </div>



                </div>
                <div id="reviews" class="tab-pane">
                    @foreach (var comment in ViewBag.Comments)
                    {
                        <article class="media">
                            <a class="pull-left thumb p-thumb">
                                <img src="/Content/Admin/img/avatar-mini.jpg">
                            </a>
                            <div class="media-body">
                                <a href="#" class="cmt-head">@comment.client.UserName</a>
                                <p>@comment.usercomments.Comment</p>
                                <p> <i class="icon-time"></i>@comment.usercomments.DateCreated</p>
                            </div>
                        </article>
                    }

                    <section class="panel">
                        <div class="col-md-11 " style="margin-top:5rem">
                            <form class="cmxform form-horizontal tasi-form" id="commentForm" method="post" action="/Home/PostComment">

                                <input name="comment" id="cname" placeholder="Share your ideas about this product" rows="2" class="form-control input-lg" type="text">


                                <footer class="panel-footer">
                                    @if (Session["UserName"] == null)
                                    {
                                        <input class="btn btn-danger pull-right addcomment" type="button" value="submit" id="addcomment" onclick="myfunc()" />

                                    }
                                    else
                                    {
                                        <input class="btn btn-danger pull-right submit" id="submit" type="submit" value="submit" onclick="Myfunc()" />
                                    }

                                </footer>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="/Content/Admin/js/jquery-1.8.3.min.js"></script>



@section scripts{
    <script type="text/javascript">
        $(".addToCart").click(function () {
            var id = $(this).data("id");
            $.ajax({

                type: "POST",
                url: "/Home/AddToCart/" + id,
                success: function () {

                },
                error: function () {

                  
                }

            });
        });
        $(".addcomment").click(function () {

            alert("You must login first");
        }
        );
        $(".submit").click(function () {

            alert("Your Comment will be published after it's reviewed by admins");
        }
        );
    </script>


    <script>

        //knob
        $(".knob").knob();

    </script>


    <script class="include" type="text/javascript" src="/Content/Admin/js/jquery.dcjqaccordion.2.7.js"></script>

    <!--common script for all pages-->
    <script src="/Content/Admin/js/common-scripts.js"></script>

    <!--script for this page-->
    <script src="/Content/Admin/js/sparkline-chart.js"></script>
    <script src="/Content/Admin/js/easy-pie-chart.js"></script>
    <script src="/Content/Admin/js/count.js"></script>
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="/Content/Admin/js/jquery.js"></script>
    <script src="/Content/Admin/js/bootstrap.min.js"></script>

}







